@charset "UTF-8";

/* Layout (global rules for all sizes) */

body { margin: 0px; padding: 0px; }
header a.logo { display: block; position: absolute; background-position: 0px 0px; background-repeat: no-repeat; }
.primaryNav {
	width: 100%;
	display: block;
	position: absolute;
	background-color: #8dc63f;
}

.secondaryNav {
	width: 100%;
	display: block;
	position: absolute;
	background-color: #8dc63f;
}

/* Layout Large Screens (default for older browsers) */

.secondaryHeader { height: 80px; }
.secondaryHeader a.secondaryLogo { width: 406px; height: 80px; background-image: url(../images/nucleatorLogoHorizontalLarge.png); display: block; }

article { padding: 60px 20px 10px 20px; }

.primaryNav { top: 503px; }
.primaryNav a { margin: 12px 0px 10px 20px; }

.secondaryNav { top: 80px; }
.secondaryNav a { margin: 12px 0px 10px 20px; }