@charset "UTF-8";

/* Global Styles */

body {
	color: #666;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	background: #fff;
}

article {
	color: #666;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	background: #fff;
}

.page {
	max-width: 980px;
	margin: 0px auto;
	position: relative; background-color: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

h1 { color: #003764; font-size: 2em; margin: 1em 0em .5em 0em; font-weight: normal; line-height: 120%; }
h2 { color: #003764; font-size: 1.2em; margin: 1em 0em .5em 0em; font-weight: normal; line-height: 120%; }
h3 { color: #003764; font-size: 1em; margin: 1em 0em .5em 0em; font-weight: normal; line-height: 120%; }
h4 { color: #003764; font-size: .85em; margin: 1em 0em .5em 0em; font-weight: normal; line-height: 120%; }

p { margin: 0px 0px .75em 0px; }

.caption {font-size: 1.5em; font-weight: bold; margin: 0; color: #ccc; margin: 1em; text-align: center; }

.definition-large {font-size: 2.5em; font-weight: bold; margin: 15px 0px 0px 0px; color: #ccc; text-align: center; }
.definition-medium {font-size: 1.8em; font-weight: normal; margin: 10px 0px 15px 0px; color: #ccc; text-align: center; line-height: 120%; }
.definition-small {font-size: 1.2em; font-weight: normal; margin: 10px 0px 15px 0px; color: #ccc; text-align: center; }
.definition-spacer {margin-bottom: 30px; }

footer { font-size: .7em; padding: 10px 10px 10px 0px; text-align:center; }

.primaryNav a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
}

.primaryNav a:hover { color: #c4df9b; }

.secondaryNav a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
}

.secondaryNav a:hover { color: #c4df9b; }

.clear-fix { clear: both; line-height: 1px;}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}